@model LibraryWebApp.Models.Author

<div>
    <h3>Add new author</h3>

    @using (Html.BeginForm())
    {
        <div>
            @Html.ValidationSummary()
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.FirstName)
            @Html.TextBoxFor(m => m.FirstName, null, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.FirstName)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.LastName)
            @Html.TextBoxFor(m => m.LastName, null, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.LastName)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.BirthDate)
            @Html.TextBoxFor(m => m.BirthDate, null, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.BirthDate)
        </div>

        <input type="submit" value="Add" class="btn btn-primary" />
    }

</div>